In [29]:
import pandas as pd
from datetime import date


data= pd.read_csv('Dataset_Cases - Sheet1.csv')

In [30]:
data.head()

  Month  Date  Mumbai  Pune  Thane  Nagpur  Nashik
0   May     1    7812  1316   1016     139     242
1   May     2    8359  1339   1086     146     262
2   May     3    8800  1396   1142     152     284
3   May     4    9310  2018   1238     174     382
4   May     5   10714  2087   1616     182     463

In [31]:
mumbai=data['Mumbai']
pune=data['Pune']
nagpur=data['Nagpur']
nashik=data['Nashik']
thane=data['Thane']

In [32]:
today = date.today()
date=pd.date_range(start='5/1/2020', end=today)

In [34]:
mumbai.shape

(16,)

In [53]:
import datetime

start = datetime.datetime.strptime("1-05-2014", "%d-%m-%Y")
end = datetime.datetime.strptime("17-05-2014", "%d-%m-%Y")
date_generated = [start + datetime.timedelta(days=x) for x in range(0, (end-start).days)]
dates=[]
for date in date_generated:
    dates.append(date.strftime("%d-%m-%Y"))
dates

['01-05-2014',
 '02-05-2014',
 '03-05-2014',
 '04-05-2014',
 '05-05-2014',
 '06-05-2014',
 '07-05-2014',
 '08-05-2014',
 '09-05-2014',
 '10-05-2014',
 '11-05-2014',
 '12-05-2014',
 '13-05-2014',
 '14-05-2014',
 '15-05-2014',
 '16-05-2014']